<div>
  <h2 id="page-heading" data-cy="QuestionsHeading">
    <span jhiTranslate="ccmsHomeIsolationApp.questions.home.title">Questions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ccmsHomeIsolationApp.questions.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-questions"
        [routerLink]="['/questions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ccmsHomeIsolationApp.questions.home.createLabel"> Create a new Questions </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="questions?.length === 0">
    <span jhiTranslate="ccmsHomeIsolationApp.questions.home.notFound">No questions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="questions && questions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="question">
            <span jhiTranslate="ccmsHomeIsolationApp.questions.question">Question</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="questionDesc">
            <span jhiTranslate="ccmsHomeIsolationApp.questions.questionDesc">Question Desc</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="questionType">
            <span jhiTranslate="ccmsHomeIsolationApp.questions.questionType">Question Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="ccmsHomeIsolationApp.questions.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="ccmsHomeIsolationApp.questions.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="ccmsHomeIsolationApp.questions.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questions of questions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/questions', questions.id, 'view']">{{ questions.id }}</a>
          </td>
          <td>{{ questions.question }}</td>
          <td>{{ questions.questionDesc }}</td>
          <td jhiTranslate="{{ 'ccmsHomeIsolationApp.QuestionType.' + questions.questionType }}">{{ questions.questionType }}</td>
          <td>{{ questions.active }}</td>
          <td>{{ questions.lastModified | formatMediumDatetime }}</td>
          <td>{{ questions.lastModifiedBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/questions', questions.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/questions', questions.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(questions)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="questions && questions.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
